/**
 * Created by max on 24/03/2022.
 */
/**
 * Created by max on 23/03/2022.
 */
[aria-level="1"] .items {
    padding-left: 1rem;
}

[aria-level="2"] .items {
    padding-left: 2rem;
}
[aria-level="3"] .items {
    padding-left: 3rem;
}
[aria-level="4"] .items {
    padding-left: 4rem;
}
[aria-level="5"] .items {
    padding-left: 5rem;
}

.mainTitle {
    font-weight: bolder;
    font-size: large;
}

.item button {
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: transparent;
    cursor: pointer;
}

.expanded {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}