.list {
    list-style: none;
    padding: 10px;
    height: 15rem;
}

.slds-float_left span {
    vertical-align: middle;
}
.slds-float_left  {
    /* border: 1px solid black; */
    /* align-self: center; */
    margin-top: 5px;
}
.brand-btn {
    --sds-c-button-brand-color-background: #65ceff;
    --slds-c-button-brand-color-background-hover: #65ceff;
    --slds-c-button-brand-color-border-hover:  black;
}